.child-module {
  background: #fff;
  .top-box {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    padding: 15px 20px;
    border-bottom: 1px solid #e8e8e8;
  }
  .cm-content {
    padding: 15px 20px;
  }
}
