.system-support {
  background: #fff;
  margin: 15px 0px;
  .top-box {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    padding: 15px 20px;
    border-bottom: 1px solid #e8e8e8;
  }
  .tags-box {
    padding: 15px 20px;
  }
}
