.content_table_wrap{
    margin: 20px;
    .content_title{
        margin-bottom: 20px;
        .search{
            width: 260px;
        }
    }
    .table_wrap{
        background: #ffffff;
    }
}